body{
	background-color:#f9f9f9;
	font-size:20px;
	color:#111111;
	font-family: sans-serif;
	text-align: center;
}
 
.content{
	width: 80%;
	margin: 10px auto;
}
 
/*header*/
header{
	background-color: white;
	padding: 20px 10px;
	border-radius: 25px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
 
header h1.title,
header h3.description{
	text-align: center;	
}